@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Great Vibes", cursive;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
